.login-body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #007A3D, #000000, #CE1126);
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 12px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  background: #CE1126;
  color: white;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}

.link a {
  color: #CE1126;
}